@import url(_misc/normalize.css);
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #2f3234; }

.container {
  margin: 0 auto;
  position: relative;
  max-width: 940px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.wrapper {
  position: relative;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  margin: 0;
  padding: 0; }

footer {
  position: relative;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.section {
  height: 100vh;
  min-height: 650px; }

.hero {
  background: url(../img/slider_1/body__screen.png) center center/cover no-repeat; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.logo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.btn-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 27px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  font-size: 14px; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    margin: 0 10px; }
  .nav__item:last-child::after {
    display: none; }

.nav__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content-desc {
  color: #fff;
  font-size: 55px;
  font-family: "Lifehack"; }

.hero__content-text {
  padding-top: 115px; }

.hero__burger {
  max-width: 95%; }

.hero__container {
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__iner-container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.best {
  background: url(../img/slider_2/body.png) center center/cover no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.best__item {
  text-align: center; }

.best__title {
  font-size: 25px;
  font-family: "gagalin";
  vertical-align: top; }

.team {
  background: url(../img/slider_4/back__main.png) center center/cover no-repeat;
  position: relative; }

.team__container {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba(47, 50, 52, 0.93);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 150px; }

.acco__trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }
  .acco__trigger:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
    border-bottom-width: 0px; }

.acco__desc {
  color: #fff;
  margin-left: 20px;
  margin-top: 20px;
  color: #fff;
  margin-left: 20px; }

.acco__desc-title {
  font-weight: bold; }

.acco__desc-text {
  width: 200px; }

.acco__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 0;
  overflow: hidden; }

.acco__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100px;
  margin-top: 25px;
  margin-left: 20px; }

.acco__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.acco__item {
  padding-bottom: 30px; }

.section-title_align-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.acco__item_active .acco__trigger {
  color: #f9b43b; }
  .acco__item_active .acco__trigger:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.acco__item_active .acco__content {
  height: auto; }

.reviews {
  background: #000; }

.reviews__list {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.reviews__item {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 25%;
  height: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .reviews__item:hover .reviews__hover {
    opacity: 1;
    color: white; }

.reviews__hover {
  padding: 25px 20px 18px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0; }

.order {
  background: url("../img/slider_6/back.png") center center/cover no-repeat;
  color: #fff; }

.container__order {
  margin: 0 auto;
  position: relative;
  max-width: 940px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-start;
  padding-top: 200px; }

.form__input {
  border: none;
  border-radius: 5px;
  padding: 8px 20px;
  width: 100%; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%; }

.form__title {
  text-transform: uppercase; }

.form__block {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px; }
  .form__block:last-child {
    margin-right: 0; }

.form__rows {
  text-transform: uppercase; }

.form__choice_money, .form__choice_card {
  display: inline-block; }

.form__review {
  border: none;
  border-radius: 5px;
  padding: 20px 20px;
  width: 90%;
  margin-bottom: 8px;
  height: 95px; }

.form__dont-call {
  margin: 10px 0px; }

.btn__form {
  margin-right: 20px; }

.form__reset {
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  padding: 8px 20px;
  background-color: black;
  opacity: 0.75; }

.container__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__part1, .form__par2 {
  width: 50%; }

.burger {
  background: url(../img/slider_3/body__screen.png) center center/cover no-repeat; }

.burgers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burgers__btn__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: red;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-block;
  background: #e35028;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.burgers__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative; }
  .burgers__btn:hover .burgers-menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.burgers-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: #fff;
  width: 230px;
  height: 300px;
  display: none;
  position: absolute;
  right: 39.5%;
  opacity: 0.85; }

.burger__icon {
  position: relative; }

.burger__btn__title {
  font-size: 11px; }

.icons__call {
  position: absolute;
  color: #fff;
  top: 36%;
  right: 91%; }

.icons__calls {
  position: absolute;
  color: #fff;
  font-size: 13px;
  top: 92%;
  right: 90.5%;
  text-transform: uppercase; }

.burgers__price {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.burgers__text {
  color: #fff;
  font-size: 15px;
  font-family: "gagalin"; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  color: red;
  padding-right: 20px;
  font-weight: 700; }

.sostav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.menu {
  background: url(../img/slider_8/back.png) center center/cover no-repeat;
  position: relative; }

.container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 25%;
  background: rgba(47, 50, 52, 0.6); }

.section-menu {
  position: absolute;
  right: 283%;
  top: 10%; }

.menus__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%; }

.menus__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  font-size: 40px; }

.menus__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border: solid;
  opacity: 0.5;
  padding-bottom: 100px; }
  .menus__item:hover {
    -webkit-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
    opacity: 1; }

.year {
  display: block;
  cursor: default;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 50px;
  padding-left: 30px;
  padding-bottom: 30px;
  color: white;
  opacity: 1;
  font-family: "gagalin";
  text-transform: uppercase; }

.btn {
  padding: 7px 15px;
  border-radius: 5px;
  display: inline-block;
  background: #e35028;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; }

.btn__rivews {
  margin-top: 25px; }

.btn__form {
  padding-right: 15px; }

.section-title {
  margin-bottom: 15px;
  font-size: 72px;
  color: #f9b43b;
  font-family: "gagalin"; }
  .section-title--align_center {
    text-align: center; }
  .section-title--color_black {
    color: #2f3234; }

.section-title--algin_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-title_white {
  color: white; }

.section-title--color_black {
  margin-bottom: 75px; }

.section-title_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 10px; }

/*# sourceMappingURL=main.css.map */