.btn {
  padding: 7px 15px;
  border-radius: 5px;
  display: inline-block;
  background: $red;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  
}
// лучше всего высота и ширина padding'om