.section-title {
    margin-bottom: 15px;
    font-size: 72px;
    color: $yellow;
    font-family: "gagalin";
    &--align_center{
        text-align: center;
    }
    &--color_black {
        color: $black;
    }
}

.section-title--algin_center {
    display: flex;
    justify-content: center;



}

.section-title_white {
    color:white; 
}

.section-title--color_black {
    margin-bottom: 75px;
}

.section-title_center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 10px;
}