  .best {
      background: url(../img/slider_2/body.png) center center / cover no-repeat;
  }

  .best__list {
      display: flex;
      align-items: center;
      justify-content: center;

  }
.best__item {
    text-align: center;
    
}
 .best__title {
     font-size: 25px;
     font-family: "gagalin";
     vertical-align: top;
 

 }