  .best {
      background: url(../img/slider_2/body.png) center center / cover no-repeat;
  }

  .best__list {
      display: flex;
      justify-content: space-around;

  }

  .best__item {
      text-align: center; 
  }