.reviews {
    background: #000;
}
.reviews__list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__item {
   
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 25%;
    height: 50%;
    filter: grayscale(100%);
    position: relative;
    &:hover {
       .reviews__hover {
           opacity: 1;
           color: white;
       }
    }

}

.reviews__hover {
    padding: 25px 20px 18px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .5);
    opacity: 0;

}

